/* Typography */
@font-face {
  font-family: 'Balsamiq Sans';
  src: url(../fonts/BalsamiqSans/BalsamiqSans-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'Balsamiq Sans';
  src: url(../fonts/BalsamiqSans/BalsamiqSans-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: 'Balsamiq Sans';
  src: url(../fonts/BalsamiqSans/BalsamiqSans-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Balsamiq Sans';
  src: url(../fonts/BalsamiqSans/BalsamiqSans-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Noto';
  src: url(../fonts/NotoSerif/NotoSerif-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: 'Noto';
  src: url(../fonts/NotoSerif/NotoSerif-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: 'Noto';
  src: url(../fonts/NotoSerif/NotoSerif-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Noto';
  src: url(../fonts/NotoSerif/NotoSerif-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}

/* Doc */
body {
  background-color: white;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) -50%,
    rgb(247, 250, 104) 33%,
    rgb(247, 250, 104) 66%,
    rgba(0, 0, 0, 0) 150%
  ), url(../images/mandelbrot-set.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* Universal */
img {
  margin: 1em 0;
  border-radius: 1em;
  box-shadow: 0.25em 0.25em 6px rgba(0, 0, 0, 0.39),
    0 0 0 0.5em rgb(255, 255, 255);
  transform: rotate(-1.5deg);
}

a:link {
  text-decoration: overline underline;
  color: black;
}
a:visited {
  text-decoration: dashed;
  color: rgb(110, 110, 110);
}
a:hover {
  text-decoration: dotted;
}
a:active {
  text-decoration: black underline;
}

/* Navbar */
nav {
  justify-content: space-evenly;
  position: sticky;
  top: -0.6em;
  z-index: 100;
  width: 50%;
  margin: auto;
  padding: 0.25em;
  border: 2px rgba(0, 0, 0, 0.7) solid;
  border-radius: 1em;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  font-family: 'Noto';
}

nav > div {
  padding: 0.0625em;
  margin: 0.25em;
  flex: 1;
  align-items: center;
  text-align: center;
  border: 3px black solid;
  border-radius: 0.5em;
  background-color: rgba(255, 255, 255, 0.7);
}

.home-button {
  display: flex;
  place-content: center;
}

/* Classes */
.flex-p {
  display: flex;
  place-content: center;
}

.main {
  margin: 1em 0;
  border-radius: 1em;

  flex-direction: column;
  place-content: center;
  text-align: center;

  font-family: 'Balsamiq Sans';
}

.heading {
  font-family: 'Noto';
  font-size: 160%;
  margin: 1em 1em;
}
.heading::before {
  content: '';
  background-color: black;
  position: absolute;
  left: 50%; right: 50%;
  transform: translate(-50%, -50%);
  margin-top: 42px;
  text-align: center;
  width: 7em;
  height: 2px;
}
.heading::after {
  content: '';
  background-color: black;
  position: absolute;
  left: 50%; right: 50%;
  transform: translate(-50%, -50%);
  margin-top: 39px;
  text-align: center;
  width: 7em;
  height: 2px;
}
.main-heading {
  font-size: 185%;
}

.text-content {
  width: 70%;
  margin: auto;
  padding: 3em 1em;
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .text-content { width: 95%; }
}

@media only screen and (min-width: 1200px) {
  .text-content { width: 40% }
}